nav {
  position: sticky;
  top: 0;
  left: 0;
  padding: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  z-index: 1002;
  justify-content: center;
  gap: 15px;
  background-color: var(--COR_FUNDO);
}

#menu {
  color: white;
  display: none;
  width: min-content;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 15px;
  border-radius: 15px;
  background-color: var(--COR_BOTAO);
}

.link-navbar {
  padding: 15px;
  cursor: pointer;
  text-align: center;
  border-radius: 15px;
  font-size: 1.25rem;
}

.botao {
  background: var(--COR_BOTAO);
  color: white;
  transition: transform 250ms, box-shadow 250ms;
}

.botao:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.secao {
  /* min-height: 100vh; */
  padding: 25px;
  border-radius: 25px;
  background-color: var(--COR_SECAO);
  scroll-behavior: smooth;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 640px) {
  nav {
    grid-template-columns: 1fr;
  }
  .link-navbar {
    text-align: left;
  }

  #menu {
    display: flex;
  }

  #menu[active='0'] ~ .link-navbar {
    display: none;
  }

  #menu[active='1'] ~ .link-navbar {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
