@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

:root {
  --COR_FUNDO: #A3846F;
  --COR_BOTAO: #A3663E;
  --COR_SECAO: #56361D;
  --COR_CONTAINER: #A3663E;
}

h1, h2, h3, h4, span, a, button, p {
  font-family: Kanit;
}

a, a:visited {
  color: cornflowerblue;
}

main {
  background-color: var(--COR_FUNDO);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
