#eventos {
  display: grid;
  grid-template-rows: auto 1fr;
  width: 100%;
  justify-content: center;
  justify-items: center;
  gap: 10px;
}

#eventos h2 {
  height: min-content;
  text-align: center;
}

.card-evento {
  width: clamp(450px, 100%, 900px);
  outline: 1px solid lightgray;
}

.card-evento img {
  width: 100%;
}

.card-evento #texto-sopao {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.card-evento #texto-sopao h3 {
  margin: 0;
}

.card-evento span {
  text-align: center;
}