#galeria {
	display: flex;
	flex-direction: column;
	gap: 10px;
	text-align: center;
}

#galeria h2 {
	color: white;
	margin: 0;
}

#carrossel-fotos span{
	height: 640px;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--COR_CONTAINER);
	border-radius: 25px;
}

#carrossel-fotos span:nth-child(1) {
	/* background-size: contain; */
}

#carrossel-fotos span:nth-child(4) {
	background-size: auto;
}

#carrossel-fotos {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
	grid-template-rows: repeat(auto-fill, minmax(340px, 1fr));
}
