#logo {
  border-radius: 100%;
  background: lightgray;
  width: min(50vw, 300px);
  height: min(50vw, 300px);
  background-image: url('../../static/santo/SantoAntonio.jpg');
  background-size: cover;
  background-position: center;
}

#frase {
  font-family: Cinzel, serif;
  color: lightgrey;
  padding: 15px;
  font-size: 1.3rem;
}

#frase a {
  font-weight: 700;
}

#inicio {
  display: grid;
  grid-template-rows: auto auto auto min-content;
  align-content: flex-start;
  justify-items: center;
  align-items: flex-start;
  gap: 15px;
}

#titulo {
  height: min-content;
  color: white;
  margin: 0;
  text-align: center;
}

#botao-nova-frase {
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  background: var(--COR_BOTAO);
  font-size: 1.2rem;
  color: white;
}
